:root {
  --vh: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  font-family: var(--main-font);
  color: var(--main-point-color);
  /* border: 1px dashed gray; */
  /* box-shadow: 5px 5px 10px rgba(101, 101, 101, 0.5); */
}

.App > * {
  flex-shrink: 0;
  pointer-events: auto;
}