:root {
  --vh: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--main-base-color);
  height: 100%;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 200px;
  font-family: var(--main-font);
  color: var(--main-point-color);
  /* box-shadow: 5px 5px 10px rgba(101, 101, 101, 0.5); */
}

.App > * {
  flex-shrink: 0;
  pointer-events: auto;
}