@font-face {
    font-family: "BM HANNA_TTF-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("assets/font/BM-HANNA.ttf") format("truetype");
}

:root {
    --main-color: #5A7FFF;
    --main-green-color: #00A887;
    --main-base-color: #F7FFE9;
    --black: #18191a;
    --white: #ffffff;
    --bg-gray: #dcdcdc;
    --gray: #575757;

    --font-h1: 32px;
    --font-h2: 28px;
    --font-h3: 24px;
    --font-h4: 20px;
    --font-h5: 18px;
    --font-h6: 12px;

    --main-font: "BM HANNA_TTF-Regular", Helvetica;
    --content-font: "Inter", Helvetica;
}