@font-face {
    font-family: "BM HANNA_TTF-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("assets/font/BM-HANNA.ttf") format("truetype");
}

:root {
    --main-green-color: #00A887;
    --main-base-color: #F7FFE9;
    --bg-gray: #DCDCDC;
    --black: #18191a;
    --white: #ffffff;

    --main-font: "BM HANNA_TTF-Regular", Helvetica;
}